.container {
    max-width: 320px;
    margin: 0 auto;
}

.memes {
    display: block;
    height: 1em;
    overflow: hidden;
}

.radio:checked + .memes {
    height: 38em;
    overflow: visible;
}