body {
    text-align: center;
    margin: 0;
}

.container,
.container-main {
    max-width: 90%;
    margin: 0 auto;
}

.memes-container {
    margin: 0 1em;
    font-size: 1.3em;
    color: #0000ff
}

.memes:active > * {
    color: #0000ff;
    opacity: 0.6;
}

.memes {
    display: block;
    height: 2em;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.fa-xmark {
    visibility: hidden;
    width: 1em;
    transform: rotate(45deg);
    transition-duration: 1s;
}

img {
    width: 60%;
    transform: scale(0, 0);
    transition-duration: 1s;
}

.radio:checked + .memes {
    height: 20%;
    overflow: visible;
    color: #000000
}

@media (hover: hover) and (pointer: fine) {
    .container-main:hover > * {
        color: #000000;
    }
    .container-main:hover .fa-xmark {
        visibility: visible;
    }

    .memes-container:hover > * {
        cursor: pointer;
    }

    .radio:hover + .memes {
        height: 20%;
        overflow: visible;
    }

    .radio:hover + .memes > img {
        transform: scale(1, 1);
    }

    .radio:hover + .memes > .title-container > .fa-xmark {
        transform: rotate(0);
    }
}

.radio:checked + .memes > img {
    transform: scale(1, 1);
}

.radio:checked + .memes > .title-container > .fa-xmark {
    transform: rotate(0);
}

@media screen and (min-device-width: 600px) {
    .container,
    .container-main {
    max-width: 70%;
    margin: 0 auto;
    }

    .memes-container {
    font-size: 1.8em;
    }  

    h1 {
        font-size: 2.2em;
    }
}

@media screen and (min-device-width: 1024px) {
    .container,
    .container-main {
    max-width: 50%;
    margin: 0 auto;
    }

    .memes-container {
    font-size: 2em;
    }  
}

@media screen and (min-device-width: 1440px) {
    .container,
    .container-main {
    max-width: 40%;
    margin: 0 auto;
    }

    .memes-container {
    font-size: 2.2em;
    }  

    h1 {
        font-size: 2.6em;
    }
}
